
/* LAPTOP 14 - 15in6: 1025px --> 1366px */
@media (min-width: 64.0625em) and (max-width: 85.375em) {

    .home-product {
        padding-left: 5%;
        padding-right: 5%;
    }
    .sidebar-library {
        height: 360px;
        overflow: auto;
    }
    .sidebar-library::-webkit-scrollbar {
        width: 4px;
    }
    .option_all-playlist-author-img {
        height: 100px;
    }
    .option_all-playlist-author-profile {
        padding: 4px 3px;
    }
    .option_all-playlist-title-name {
        font-size: .8rem;
    }
    .volume-up,
    .volume-mute {
        margin-right: 7px;
    }
    .profile_vip {
        font-size: .7rem;
    }
    .profile_vip-entercode {   
        margin: 0 5px; 
    }

    
}

/* ipad pro */
/* MOBILE --> TABLET --> TABLET PRO: width <= 1024px */
@media only screen and (max-width: 64em) {
    .table-hiden {
        display: none;
    }
    .header_width-search {
        width: 430px;
    }
    .home-product {
        width: calc(100% - 230px);
        padding: 25px 3% 0 3%;
    }
    .header-right {
        margin-left: unset; 
    }
    .profile_vip {
        font-size: .7rem;
    }
    .option_all-playlist-item-new {
        margin-bottom: 15px;
    }
    .option_all-playlist-author {
        margin-bottom: 100px;
    }
    .option_all-playlist-author-img {
        height: 200px;
    }
    .sidebar {
        max-width: unset;
    }
    .sidebar-library {
        height: 100%;
        overflow: unset;
        position: relative;
    }
    .song_item-tym,
    .option {
        display: none;
    }
    .music-control-right {
        justify-content: center;
    }
    .music_control-center {
        width: 60%;
    }
    .music_control-center-active {
        width: 265px;
    }
    .music_control-progress {
        width: 70%;
    }
    .music_control-center-active .btn {
        font-size: .8rem;
        padding: 5px 5px 5px 6px;
        margin: 0 15px;
    }
    .main-container {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
}

/* TABLET --> TABLET PRO: width >= 740px and width <= 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 64em) {
    .main-container {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
    
}

@media only screen and (max-width: 51.25em) {
    .header-right {
        margin-left: 44px; 
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 51em) {
    .header-right {
        margin-left: unset; 
    }
}

/* ipad */
/* TABLET AIR width >= 740px and width <= 1023px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .main-container {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
    }
    .header_width-search {
        width: 180px;
    }
    .profile_vip-entercode {
        display: none;
    }
    .music-option {
        width: 490px;
    }
    .music_option-item {
        padding: 5px 27px;
    }
    .option_all-playlist-author-img {
        height: 150px;
    }
    .header_width-search-sub {
        position: absolute;
        width: 300%;
        left: -118px;
        right: 0;
        z-index: 1000;
    }
}

/* TABLET AIR width >= 740px */
@media (min-width: 46.1875em) {
    .sidebar::-webkit-scrollbar {
    width: 4px;
}
}

/* MOBILE: width <= 739px */
@media only screen and (max-width: 46.1875em) {
    .mobile-hiden {
        display: none;
    }
    .mobile-show {
        display: block;
    }
    .sidebar_menu-mobile {
        width: 100%;
        height: 55px;
        display: flex;
        position: absolute;
        left: 0;
        bottom: -1px;
        background: var(--purple-color);
        z-index: 100;
    }
    .sidebar_menu-mobile .sidebar-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 25px;
        width: 100%;
        bottom: 0;
    }
    .sidebar_menu-mobile .sidebar-item {
        padding: 2px 10px;
        font-size: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        margin-top: 3px;
    }
    .sidebar_menu-mobile .sidebar-item i {
        font-size: 1rem;
    }
    .sidebar_menu-mobile .sidebar-item p {
        font-size: .6rem;
    }
    .main-container {
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
    }
    .home-product {
        width: 100%;
        padding: 25px 3% 0 3%;
    }
    .header .icon_directional-left,
    .header .icon_directional-right {
        display: none;
    }
    .header-upload,
    .header-setting {
        display: none;
    }
    .header-right {
        margin-left: unset; 
    }
    .profile_vip {
        display: none;
    }
    .music-option {
        width: 300px;
        margin-bottom: 30px;
    }
    .music_option-item {
        padding: 5px 8px;
    }
    .option_heading {
        display: none;
    }
    .option_all-playlist-item {
        margin-bottom: 10px;
    }
    .music-control-right {
        display: none;
    }
    .option_all-playlist-author-img {
        height: 160px;
    }
    .header_width-search-sub {
        position: absolute;
        width: 170%;
        left: -35px;
        right: 0;
        z-index: 1000;
    }
    .btn-repeat,
    .btn-random,
    .music_control-progress {
        display: none;
    }
    .music_control-center {
        width: 30%;
        right: 0;
        position: absolute;
        margin-top: 15px;
    }
    .music_control-left {
        width: 70%;
    }
    .music_control-center-active {
        width: 170px;
    }
    .music_control-center-active .btn {
        font-size: .8rem;
        padding: 3px;
    }
    .music_control-center-active .btn-toggle-play {
        font-size: .9rem;
        padding: 4px;
    }
    .music_left-item {
        width: unset;
    }
    .music_left-item .body {
        display: flex;
        line-height: 18px;
    }
    .music_left-item .cdThumb {
        width: 40px;
        height: 40px;
    }
    .theme-list {
        width: 100%;
        right: 0;
        top: 74px;
        border-radius: unset;
        height: 678px;
        overflow-y: auto;
    }
    .theme_modal-group {
        overflow-y: unset;
        height: 500px;
    }
    .footer-control {
        height: 60px;
        bottom: 53px;
        line-height: 60px;
        align-items: center;
        /* background: url(./src/img/Background/BG01.jpg); */
        z-index: 100;
    }
    .option_all-playlist-item {
        height: 230px;
    }
    .option_all-playlist-item-img {
        height: 180px;;
    }
}

